#footer-main {
  background: $darkGrey;
  text-align: center;
  color: $grey;
  font-size: 1.45em;
  font-weight: 600;
  font-family: $gaspar;
  line-height: 1.35;
  @include rem-fallback(padding, 2, 0, 3);

  a {
    color: $yellow;

    &:hover {
      text-decoration: underline;
    }
  }
  .logo {
    @include rem-fallback(margin-bottom, 0.75);
  }
  .border {
    background: $grey;
    width: 250px;
    height: 2px;
    border-radius: 5px;
    margin: 0 auto;
    @include rem-fallback(margin-top, 0.5);
    @include rem-fallback(margin-bottom, 0.5);
  }
  .copyright {
    color: $yellow;
  }
}
