.blog-page {
  background: darken($grey, 10);

  p,
  .comment-reply-title {
    font-family: $gaspar;
    text-align: left;
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25;
    @include rem-fallback(margin-bottom, 1);
  }

  a {
    color: darken($yellow, 15);
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: darken($yellow, 15);
    }
  }

  input[type="submit"] {
    @include gold_button();
  }

  textarea {
    border: 2px solid $yellow;
    background: $white;
    font-family: $gaspar;
    font-weight: 600;
    font-size: 1.25em;
    border-radius: 0;
    width: 100%;
    @include rem-fallback(padding, 0.25, 0.5);
  }

  .container {
    max-width: 850px;
    @include rem-fallback(padding-top, 3);
    @include rem-fallback(padding-bottom, 3);
  }

  .entry-content {
    margin-top: 0;
    @include rem-fallback(margin-bottom, 4);
  }

  .blog-date,
  .posted-by {
    font-family: $gaspar;
    text-align: left;
    font-size: 1.45em;
    line-height: 1.25;
    letter-spacing: 1px;
  }
  .blog-date {
    font-weight: 600;
  }
  .posted-by {
    font-style: italic;
    font-size: 1.3em;
  }

  .posts-navigation {
    margin-bottom: 0;

    .nav-next,
    .nav-previous {
      a {
        display: block;
        background: $darkGrey;
        color: $yellow;
        font-family: $gaspar;
        text-transform: uppercase;
        font-size: 1.45em;
        font-weight: 600;
        letter-spacing: 1px;
        @include rem-fallback(padding, 0.5, 1);
        &:hover {
          color: $darkGrey;
          background: $yellow;
        }

      }
    }
    .nav-next {
      float: left;
      text-align: left;
      a {
        float: left;
      }
    }
    .nav-previous {
      float: right;
      text-align: right;
      a {
        float: right;
      }
    }
  }

  .comments-area {
    .comment-reply-title {
      font-size: 2.5em;
    }

    .comment-author,
    .comment-metadata,
    .comment-reply-link {
      font-size: 1.45em;
      @include rem-fallback(padding-bottom, 0.5);
    }

  }
}
