#home-about {
  background: $grey;

  .middle,
  .right {
    padding-top: 120px;
    @include mobile {
      @include rem-fallback(padding, 2, 0);
    }
  }

  .left {
    position: relative;
    min-height: 565px;

    @include mobile {
      min-height: initial;
      @include rem-fallback(padding, 2, 0);
    }
    h2 {
      position: absolute;
      top: 70px;
      right: 150px;

      @include mobile {
        position: relative;
        top: 0;
        right: 0;
        @include rem-fallback(padding-bottom, 1);
      }
    }
    .about-photo {
      position: absolute;
      top:120px;
      right: 0;
      @include background;
      width: 206px;
      height: 300px;

      @include mobile {
        position: relative;
        top: 0;
        right: 0;
        margin: 0 auto;
      }
      .stripes {
        width: 33.3333%;
        height: 300px;
        float: left;
        position: relative;
        background: repeating-linear-gradient(
          135deg,
          rgba($yellow, 0.5),
          rgba($black, 0.00) 2px,
          rgba($yellow, 0.5) 5px,
          rgba($black, 0.00) 2px
        );
      }
    }
  }
  .middle {
    background: $darkGrey;
    position: relative;
    @include rem-fallback(padding-right, 2);
    @include rem-fallback(padding-left, 2);
      // @include mobile {
      //   position: relative;
      //   top: 0;
      //   right: 0;
      //   @include rem-fallback(padding-bottom, 1);
      // }
    .welcome-title,
    .welcome-message {
      color: $grey;
    }
    .welcome-title {
      font-family: $dense;
      text-align: left;
      font-size: 3.25em;
      line-height: 1.1;
      letter-spacing: 0.5px;
      @include rem-fallback(padding-bottom, 0.75);
    }
    .welcome-message {
      font-family: $gaspar;
      font-weight: 600;
      font-size: 1.25em;
      line-height: 1.1;
      text-align: justify;
    }
    .signature {
      position: absolute;
      bottom: 10px;
      max-width: 200px;
      @include mobile {
        position: relative;
        bottom: initial;
        margin: 0 auto;
      }
    }
  }

  .right {
    @include rem-fallback(padding-left, 1.5);
    @include mobile {
      @include rem-fallback(padding-right, 1.5);
    }
    .about-header,
    .about-content {
      font-family: $gaspar;
      max-width: 200px;
      text-align: left;
      @include mobile {
        max-width: initial;
      }
    }
    .about-header {
      font-size: 1.75em;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      @include rem-fallback(padding-bottom, 0.65);
    }
    .about-content {
      font-weight: 600;
      font-size: 1.25em;
      line-height: 1.1;
      text-align: justify;
      &:last-child {
        @include rem-fallback(padding-bottom, 1);
      }
    }
  }
}
