#home-page {
  .navbar-padding {
    padding-top: 74px;
  }
  .home-section {
    position: relative;
  }

  .scroll-destination {
    position: absolute;
    top: -74px;
  }

  @import "home/top";
  @import "home/nav";
  @import "home/about";
  @import "home/portfolio";
  @import "home/testimonials";
  @import "home/blog";
  @import "home/contact";

}
