#home-page {
  .home-section {
    position: relative;
    height: 600px;
  }

  .scroll-destination {
    position: absolute;
    top: -50px;
  }

  @import "home/top";
  @import "home/nav";
  @import "home/about";
  @import "home/portfolio";
  @import "home/testimonials";
  @import "home/blog";
  @import "home/contact";

}
