#home-portfolio {
  background: $white;


  .portfolio-main-image {
    @include background;
    height: 675px;

    .image {
      @include background;
      width: 100%;
      height: 675px;
    }

    .slick-prev {
      position: absolute;
      top: 620px;
      left: 85%;
      box-shadow: 0 0 0;
      z-index: 10;

      &:before {
        content: "\f104";
        font-size: 50px;
        font-family: FontAwesome;
        opacity: 1;
        color: $black;

      }
    }

    .slick-next {
      position: absolute;
      top: 620px;
      right: 10px;
      box-shadow: 0 0 0;

      &:before {
        content: "\f105";
        font-size: 50px;
        font-family: FontAwesome;
        opacity: 1;
        color: $yellow;

      }
    }
  }


  .portfolio {
    @include rem-fallback(padding-top, 2);
  }
  .portfolio-image {
    @include background;
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .nav-tabs {
    border: 0;
    @include rem-fallback(margin-left, 0.5);
    @include rem-fallback(margin-bottom, 0.75);
    li {
      a {
        font-family: $dense;
        font-size: 2.15em;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: $darkGrey;
        border: 0;
        @include rem-fallback(padding-left, 1);

        &:hover,
        &:active,
        &:visited,
        &:focus {
          border: 0;
          background: transparent;
        }
        &:hover {
          color: $yellow;
        }

      }
      &.active {
        a {
          color: $yellow;
        }
      }
    }
  }

  .portfolio-content {
    width: 550px;
    @include rem-fallback(margin-left, 1.5);
  }
}
