#home-top {
  position: relative;
  @include background;
  background: $yellow;
  min-height:400px;

  @include mobile {
    display: none;
  }
  .overlay {
    min-height:400px;
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-image: linear-gradient(rgba($black, 0.01) 10%, rgba($black, 0.75) 100%);
  }
  .left {
    background: rgba($black, 0.45);
  }
  .stripes {
    width: 50%;
    float: right;
    position: relative;
    background: repeating-linear-gradient(
      135deg,
      rgba($black, 0.35),
      rgba($black, 0.05) 2px,
      rgba($black, 0.35) 5px,
      rgba($black, 0.05) 2px
    );

    .nav {
      margin-left: 0;
      text-align: right;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      width: 100%;

      & > li > a {
        font-size: 2.5em;
        color: $yellow;
        text-transform: uppercase;
        font-family: $dense;
        letter-spacing: 1px;
        line-height: 0.75;

        &:visited,
        &:active,
        &:focus,
        &:hover {
          text-decoration:none;
          background: transparent;
        }

        &:hover {
          color: darken($yellow, 10);
        }
      }
    }
  }
  .logo-container {
    position: relative;
    @include rem-fallback(padding-left, 1);
    .logo {
      text-align: left;
      position: absolute;
      top:50%;
      transform: translate(0, -50%);
    }
  }
}
