#index-page {
  background: darken($grey, 10);

  p {
    font-family: $gaspar;
    text-align: left;
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25;
    @include rem-fallback(margin-bottom, 1);
  }

  .container {
    max-width: 850px;
    @include rem-fallback(padding-top, 3);
    @include rem-fallback(padding-bottom, 3);
  }

  .entry-content {
    margin-top: 0;
    @include rem-fallback(margin-bottom, 4);
  }

  .date,
  .posted-by {
    font-family: $gaspar;
    text-align: left;
    font-size: 1.45em;
    line-height: 1.25;
    letter-spacing: 1px;
  }
  .date {
    font-weight: 600;
  }
  .posted-by {
    font-style: italic;
    font-size: 1.3em;
  }

  .posts-navigation {
    margin-bottom: 0;

    .nav-next,
    .nav-previous {
      // min-height: 30px;
      a {
        display: block;
        background: $darkGrey;
        color: $yellow;
        font-family: $gaspar;
        text-transform: uppercase;
        font-size: 1.45em;
        font-weight: 600;
        letter-spacing: 1px;
        // height: 30px;
        @include rem-fallback(padding, 0.5, 1);
        // &:after {
        //   width: 0;
        //   height: 0;
        //   border-top: 60px solid transparent;
        //   border-bottom: 60px solid transparent;

        //   border-left: 60px solid green;
        // }
        &:hover {
          color: $darkGrey;
          background: $yellow;
        }

      }
    }
    .nav-next {
      float: left;
      text-align: left;
      a {
        float: left;
      }
    }
    .nav-previous {
      float: right;
      text-align: right;
      a {
        float: right;
      }
    }

  }
}
